<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title endblock %} | {{ 'service.name'|trans }}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="SkreenHouseFactory">
	<meta name="language" content="fr-FR" />
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=1280, user-scalable=no, initial-scale=0.8, maximum-scale=0.8/" >
	<meta name="gtv-autozoom" content="off" />
	<link rel="icon" href="/favicon-couchmode.ico" type="image/x-icon">
	{% block meta %}{% endblock %}

  {% stylesheets
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/modal.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/slider.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/bootstrap.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/responsive.less'
      '@SkreenHouseFactoryTvBundle/Resources/public/less/tv.less'
        filter='less,?yui_css'
        output='css/tv-core.css'
        %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
  {% if device['head'] is defined %}
    {% include device['head'] %}
  {% endif %}

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Votre navigateur est <em>ancien!</em> <a href="http://browsehappy.com/">Mettez-le à jour</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour profiter utiliser mySkreen dans les meilleurs conditions.</p><![endif]-->

  <div id="error" class="alert alert-block hide"></div>
  <div id="user" class="hide"><span class="user"></span> | <a class="tv-component signout" href="#">Déconnexion</a></div>
  {% include 'SkreenHouseFactoryV3Bundle:Main:_modal.html.twig' %}
  {% include 'SkreenHouseFactoryTvBundle:Main:_topbar.html.twig' %}

  <div id="sliders" class="template tv-container">
    <div class="container"></div>
  </div>
  {#<div id="redirect" class="template"></div>#}
  {% include 'SkreenHouseFactoryTvBundle:Main:_couchmode.html.twig' %}

  {% block content %}
  {% endblock %}



{% if device['script'] is defined %}

  {% include device['script'] %}

{% else %}

  {% javascripts
      '@SkreenHouseFactoryTvBundle/Resources/public/js/bridges/android.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.0.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.cookies.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/flowplayer-3.2.11.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/flowplayer.ipad-3.2.11.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/easyXDM.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
      '@SkreenHouseFactoryTvBundle/Resources/public/js/vendors/jquery.keynav.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.touchswipe.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/*'
      '@SkreenHouseFactoryTvBundle/Resources/public/js/*' 
      filter='?yui_js' 
      output='js/compiled/tv.js'  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endif %}

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6151896-12']);
  _gaq.push(['_trackPageview']);
  (function() { 
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.id = 'scriptAnalytics';
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
    var s = document.body.appendChild(ga); 
    })(); 
</script>
{#
<div class="hide">
<img src="file:///android_res/drawable/bg_repeat.png" />
<img src="file:///android_res/drawable/btn_tv_replay_off_1280.png" />
<img src="file:///android_res/drawable/btn_vod_off_1280.png" />
<img src="file:///android_res/drawable/btn_bandes_annonces_off_1280.png" />
<img src="file:///android_res/drawable/btn_playlists_off_1280.png" />
<img src="file:///android_res/drawable/btn_tv_replay_on_1280.png" />
<img src="file:///android_res/drawable/btn_vod_on_1280.png" />
<img src="file:///android_res/drawable/btn_bandes_annonces_on_1280.png" />
<img src="file:///android_res/drawable/btn_playlists_on_1280.png" />
</div>
#}
</body>
</html>