<div id="couchmode" class="template tv-container couchmode-on">
  <div id="couchmode-inner">
    <div id="couchmode-error" class="alert"></div>
    <div id="couchmode-close"><i class="icon-remove icon-white"></i> Fermer</div>
    {#<div id="couchmode-player-timeline" class="player-controls couchmode-overlay"></div>#}
    <div id="couchmode-player-meta" class="player-meta couchmode-overlay"></div>
    <div id="couchmode-player" data-player-jscontrolbar="couchmode-player-timeline"></div>
    <div id="couchmode-sliders" class="couchmode-overlay"><div class="cache"></div><div class="container"></div></div>
  </div>
</div>
<ul class="hide">{% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' %}</ul>