<div id="couchmode" class="template tv-container-vertical">
  <div id="couchmode-player"></div>
  <div id="couchmode-sliders" class="overlay tv-container-vertical"><div class="cache"></div><div class="container tv-container-start-scroll"></div></div>
  <ul class="hide">{% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' %}</ul>
</div>