<div id="couchmode" class="template tv-container couchmode-on">
  <div id="couchmode-error" class="alert"></div>
  <div id="couchmode-player"><div id="player-meta" class="actions couchmode-overlay"></div></div>
  <div id="couchmode-sliders" class="overlay"><div class="cache"></div><div class="container"></div></div>
  <ul class="hide">{% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' %}</ul>
</div>