<div id="topbar" class="template overlay tv-container">
  <div id="logo"><img src="{{ asset('bundles/skreenhousefactorytv/images/logo.png') }}" /></div>
  <div class="divider"></div>
  <div id="back" class="tv-component" data-load-route="splash" data-load-view="splash"></div>
  <div class="divider"></div>
  <div class="onglet"><span></span></div>
  <div class="nav tv-container-vertical">
    <i class="icon-chevron-down icon-white"></i>
    <ul class="keynav-container-vertical"></ul>
  </div>
  <div class="subnav tv-container-vertical">
    <img class="separator" src="{{ asset('bundles/skreenhousefactorytv/images/liang/separation_nav.png') }}" />
    <i class="icon-chevron-down icon-white"></i>
    <ul class="keynav-container-vertical"></ul>
  </div>
</div>